# Introduction to SQLalchemy
[documentation](https://docs.sqlalchemy.org/en/20/)
### Overview & Core Comps
The SQLAlchemy SQL Toolkit and Object Relational Mapper is a comprehensive set of tools for working with databases and Python. It has several distinct areas of functionality which can be used individually or combined together. Its major components are illustrated below, with component dependencies organized into layers:

<img src="https://docs.sqlalchemy.org/en/20/_images/sqla_arch_small.png" alt="ARCH IMG MISSING" height="400" onerror="this.src='./imgs/arch_overview.png'; this.onerror=null;">

Above, the two most significant front-facing portions of SQLAlchemy are the Object Relational Mapper (ORM) and the Core.

# How does it work

<img src="./imgs/ORM.png" alt="ORM IMG MISSING" height = "400" >

An orm works to negotiate between the language your are currently programming in and the relational storage system that you are using. Simplifying the amount of work that a programmer needs to do and allowing for greater levels of automation.

i.e. lastName : object --> lastName : varchar(255) || Python --> PostgreSQL

~ *by this point you should have your postgresql server running, have written down the information needed for connection and also ensured that you have **Pandas, Pyscopg2 and SQLalchemy installed** and accessible in your current env... if not. Please take this moment to do so.* ~

In [51]:
import pandas as pd

# Connecting to SQL ENV

In [52]:
# import sqlalchemy create_engine 
# this will be the main module we work with
from sqlalchemy import create_engine
# conda install anaconda::sqlalchemy


# from sqlalchemy_utils import database_exists, create_database if you are automating DB creation
from sqlalchemy_utils import database_exists, create_database
# conda install conda-forge::sqlalchemy-utils

### Getting started
The start of any SQLAlchemy application is an object called the Engine. This object acts as a central source of connections to a particular database, providing both a factory as well as a holding space called a connection pool for these database connections. The engine is typically a global object created just once for a particular database server, and is configured using a URL string which will describe how it should connect to the database host or backend.

### Function
create_engine(*URL string*)
### URL string
examples:

- postgresql://postgres:a@localhost:5435/test
- mysql+pymysql://user:pass@some_mariadb/dbname?charset=utf8mb4"

breakdown:
- type of DB (DBAPI):// user : password @ address : port / Database name ? extra params

Acceptable Dialects:

|||||
|--- |--- |--- |--- |
|Microsoft SQL Server|2017|2012+|2005+|
|MySQL / MariaDB|5.6, 5.7, 8.0 / 10.8, 10.9|5.6+ / 10+|5.0.2+ / 5.0.2+|
|Oracle|18c|11+|9+|
|PostgreSQL|12, 13, 14, 15|9.6+|9+|
|SQLite|3.36.0|3.12+|3.7.16+|

In [54]:
# create an engine using postgreSQL

# setup logic for creating a database if wanted for automation otherwise manually create your DB
# this logic will use the same URL String as described earlier

In [55]:
# getting back a hello world

# in order to query against a DB import text from sqlalchemy

[('hello world',)]

<img src="./imgs/sql1.png" alt="MISSING" >

In [58]:
# sequence instructions and commit alterations manually

<img src="./imgs/sql2.png" alt="MISSING">

### Incorperating pandas
We will use pd.to_sql in order to bridge the gap between manual input and automagic inputs


**df.to_sql(table name (str), connection (obj), if_exists (str), chunksize=int, index=bool)**

[further documentation df.to_sql](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)

In [59]:
# load in a df

In [60]:
# method 1

In [32]:
# method 2 manual open and close

More documentation...
[dealing with disconnections](https://docs.sqlalchemy.org/en/20/core/pooling.html#dealing-with-disconnects)

# Querying your data
[Furthering querying discussion](https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)

In [62]:
# Type game

sqlalchemy.sql.schema.Table

In [63]:
# printing the full metadata

Table('orders', MetaData(), Column('order_id', TEXT(), table=<orders>), Column('order_date', TEXT(), table=<orders>), Column('ship_date', TEXT(), table=<orders>), Column('ship_mode', TEXT(), table=<orders>), Column('customer_id', TEXT(), table=<orders>), Column('product_id', TEXT(), table=<orders>), Column('sales', DOUBLE_PRECISION(precision=53), table=<orders>), Column('quantity', BIGINT(), table=<orders>), Column('discount', DOUBLE_PRECISION(precision=53), table=<orders>), Column('profit', DOUBLE_PRECISION(precision=53), table=<orders>), Column('postal_code', DOUBLE_PRECISION(precision=53), table=<orders>), Column('region_id', DOUBLE_PRECISION(precision=53), table=<orders>), schema=None)

[('AE-2016-1308551', '2016-09-28', '2016-10-02', 'Second Class', 'PO-8865', 'OFF-FEL-10001405', 82.67, 2, 0.3, 0.3, None, 9954.0),
 ('AE-2016-1522857', '2016-09-04', '2016-09-09', 'Standard Class', 'PO-8865', 'TEC-EPS-10004171', 78.41, 6, 0.5, 0.5, None, 4792.0),
 ('AE-2016-184765', '2016-10-03', '2016-10-07', 'Second Class', 'PO-8865', 'OFF-FEL-10001405', 82.67, 2, 0.3, 0.3, None, 19848.0)]

## Convert query to DF

In [65]:
# convert to DF

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [66]:
connection.close()

# Simple schema work
[lots of documentation furthering DDL discussion](https://docs.sqlalchemy.org/en/20/tutorial/metadata.html)

# Optional Practice

In [74]:
# Create a simple push of the product table to postgres

In [72]:
# Query the entire products table and convert it to a dataframe

In [73]:
# Push the products table with all types defined.

# OYO Dissect and Refactor this code

In [ ]:
# Sys related imports
from datetime import date, datetime, timedelta
from distutils.command.clean import clean
from time import timezone
import pytz

# api json related imports
import requests

# Data Handling imports
import pandas as pd 
from pandas import json_normalize
pd.options.mode.chained_assignment = None

# DB Connection and Data Migration Imports
from unicodedata import numeric
from xmlrpc.client import DateTime
from sqlalchemy import create_engine, DateTime, Column, Float, Integer, String, Date
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy_utils import database_exists, create_database


def SearchDate():
    '''
    Checks to see if 8am cst has happened
    if not then it pulls yesterday's results
    if yes then it pulls todays results
    this lines up with ESO's daily update
    '''
    time_zone = pytz.timezone('America/Chicago')
    datetime_timezone = datetime.now(time_zone)
    current_hour = int(datetime_timezone.strftime('%H'))

    search_date = str(date.today()) if current_hour>8 else str(date.today()-timedelta(days=1))

    return search_date


def StarterURLGenerator():
    '''
    Creates an easier interface for making more complex
    queries for KCAN api
    in 'search_dictionary' add any known column and known 
    attribute that you want to query for in relivant data set
    format == "column header" : "known criterion"

    Only creates first needed URL
    No pagination defeated in this function    
    '''
    search_dictionary = {"EFA Date":SearchDate(), "Company":"HABITAT ENERGY LIMITED"}
    resource_id = "ddc4afde-d2bd-424d-891c-56ad49c13d1a"

    dictionary_list = [ '"'+param[0]+'":"'+param[1]+'"' for param in search_dictionary.items()]
    dictionary_string = '{'+','.join(dictionary_list)+'}'

    starting_api = '/api/3/action/datastore_search?q='+dictionary_string+'&resource_id='+resource_id


    return starting_api


def ApiScraper(links, rawdf, domain):
    # Moving through the links
    link = links[-1]
    request = requests.get(domain+link)
    if request.status_code == 200:
        json = request.json()
        
        # Stop if there are no records returned
        if json['result']['records'] == []:
            return pd.DataFrame()

        # adding results to rawdf
        df = json_normalize(json['result']['records'])

        # store next link from json
        links.append(json['result']['_links']['next'])
        
        return df
    else:
        raise 'Response Code: '+str(request.status_code)


def Cleaner(rawdf):
    df = pd.DataFrame(rawdf).astype({
    "_id": int, 
    "Company": object,
    "Unit Name": object,  
    "EFA":int,  
    "Service":object,
    "Cleared Volume": float,
    "Clearing Price": float,
    "Technology Type": object,
    "Cancelled": object
    })

    # Handling dates
    df['EFA Date'] = pd.to_datetime(df['EFA Date'])
    df['Delivery End'] = pd.to_datetime(df['Delivery End'])
    df['Delivery Start'] = pd.to_datetime(df['Delivery Start'])

    # Lowering texts and removing spaces
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "")

    return df
  

def EngineGenerator():
    loginAttempt = True
    while loginAttempt:
        try:
            print('-'*20)
            print('PostgreSQL Server Login Information:')
            username = str(input('Enter Username (Default: postgres)\n>')).strip()
            password = str(input('Enter Password (Default: None)\n>')).strip()
            host_address = str(input('Enter Host Address (Default: localhost)\n>')).strip()
            port = str(input('Enter Port (Default: 5432)\n>')).strip()
            database_name = str(input('Enter Database Name (Default: habitat)\n>')).strip()

            engine_string = 'postgresql://'

            defaults = ['','postgres', '', '', '@','localhost', ':','5432', '/','habitat']
            user_input = ['', username, ':', password, '@', host_address, ':', port, '/', database_name]
            
            for i in range(0,len(defaults),2):
                if user_input[i+1] == '':
                    engine_string += defaults[i]+defaults[i+1]
                else:
                    engine_string += user_input[i]+user_input[i+1]
            
            engine = create_engine(engine_string, echo=False)

            if not database_exists(engine.url):
                create_database(engine.url)
            
            loginAttempt = False

        except Exception as e:
            print(e)
            tryagain = input('\n\n>>Try Again<<\n(Y/N) >> ')
            if tryagain.upper() == 'N':
                raise 'Could Not Login To PostgreSQL Server'
    print('-'*20)
    print('PostgreSQL Server Connection Successful\n', engine_string)
    return engine


def DatabaseHandler(df):
    # Creating engine, Database and allowing for Schema definition
    engine = EngineGenerator()

    Session = sessionmaker(bind=engine)
    session = Session()

    # Define schema and migrate information 
    # OR
    # Append newly scraped information

    try:
        Base = declarative_base()

        class eso_auction_results_habitat_schema(Base):
            __tablename__ = 'eso_auction_results_habitat'
            _id = Column(Integer, primary_key=True) 
            company = Column(String[50])
            unitname = Column(String)
            efadate = Column(DateTime())
            deliverystart = Column(DateTime())
            deliveryend = Column(DateTime())
            efa = Column(Integer)
            service = Column(String)
            clearedvolume = Column(Float)
            clearingprice = Column(Float)
            technologytype = Column(String) 
            location = Column(String)
            cancelled = Column(String)
            rankefadate = Column(Float)
            rankcompany = Column(Float)
            
        Base.metadata.create_all(engine)

    except Exception as e:
        print(e)
        
        
    try:
        df.to_sql('eso_auction_results_habitat', con=engine, if_exists='append', index =False)
    except Exception as e:
        print(">> Error >> No New Values Added To Database <<")
        

def main():

    links = [StarterURLGenerator()]
    rawdf = pd.DataFrame()
    domain = 'https://data.nationalgrideso.com'
    cont = True

    # ApiScaper Iterator
    while cont:
        tempdf = ApiScraper(links, rawdf, domain)
        if tempdf.shape[0]>0: 
            rawdf = pd.concat([rawdf, tempdf])
        else:
            cont=False
    
    print('\nApiScraper: True\n')

    clean_df = Cleaner(rawdf)
    # Creating long term storage version of df
    clean_df.to_csv("df", index = False)

    DatabaseHandler(clean_df)
    print('\nDatabaseHandler: Successful\n')


main()